/* COLORS 
#6a6d6f - Carollo grey
#003db6 - Carollo basic blue
#2e3543 - Carollo dark grey/blue
#69717a - Carollo light grey/blue
#f3f3f5 - Carollo offwhite
#0857e3 - Carollo blue #2 lighter (button background)
*/

/* LAYOUT */
:root {

    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f5;
  }

  html, body{min-height:100%;}

  body {
    margin: 0;
    padding: 0;
    background-image: url('../images/landing2.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
    height: 100vh;
}

  .gutter {
    /*background-color: #003db6;
    color: white;
    background-color: #003db6;*/
    display: flex;
    flex-direction: column;
    color: #003db6;
    background-color: white;
    padding: 1rem;
    text-align: center;
    border: 1px solid #003db6;
  }
  /*#bottom-bar {
    bottom: 0;
    position: absolute;
  }

  #bottom-bar > h6{
    margin: 0;
    padding: 0;
  }*/

  /* OVERLAY */
  #instructionsOverlayOuter {
    background-color: lightgray; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    z-index: 999;
  }
  #instructionsOverlayInner {
    width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; border: 1px solid #003db6; border-radius: 20px; padding: 5px;
  }

  #game {
  width: 100%;

  }
  
  h1,  h2,  h3,  h4, h5, h6, p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    font-size: min(10vw, 10vh, 60px);
  }
  
  h2 {
    font-size: min(7.5vw, 7.5vh, 45px);
  }
  
  h3 {
    font-size: min(5vw, 5vh, 30px);
  }
  
  h4, p {
    font-size: min(4.2vw, 4.2vh, 25px);
  }

  h5 {
    font-size: min(3.36vw, 3.36vh, 20px);
  }

  h6 {
    font-size: min(2.5vw, 2.5vh, 15px);
  }
  
  /* UTILITIES */
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container > * {
    max-width: min(500px, 100%);
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    /*border: 1px solid transparent;*/
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    /*border: 1px solid transparent;*/
  }
  
  
  .justify-center {
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  /* BUTTONS */
  .btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(5vw, 15px);
    padding: 1rem;
    margin: .1rem;
    max-width: 95%;
    text-align: center;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    text-decoration: none;
    border: 0.1rem solid #003db6;
    color: white;
    background-color: #0857e3;
    border-radius: 1rem;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
/* GENERAL FORMATTING */
  a {
    text-decoration: none;
    color: #003db6;
  }
  
  a:hover {
    text-decoration: underline;
  }